/*-------header--------*/
body{background-color: transparent;
opacity: 0.80;background-attachment: scroll;
}
.fcontainer{ background-color: #00ffff;
     text-decoration: none;
      height:fit-content;
       width:inherit; 
      
    display: flex;
    font-weight: 900;
    font-size: x-large;
     justify-content:space-between; 
    padding-top: 10px;
    margin-top: 0px;
opacity: 0.80;
}
.fcontainer:hover{ display: flex;
background-color: black;
height: fit-content;}
.searchfild{ background-color: black; font-family: cursive; color: white; font-size: 20px;}
/*---------main--------*/
.main1{ margin-top: 200px; color: aliceblue; text-align: center; text-decoration: overline underline;}





























